<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Vue.js Basic Example</title>
    <link rel="stylesheet"
          href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
    <link href="./styles.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="./vue.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <h1>Vue.js Basic Examples</h1>
    <hr/>

    <section>
      <div class="example">
        <h2>1. Hello World</h2>
        <p> To create a Vue instance, pass an object to the constructor like so.
          The "data" object represents the instance's internal state. The <code>el</code>
          property tells Vue which element on the page it should take over (or
          mount to). </p>
        <p> Properties on the data object can be treated as if they were defined
        directly on the parent. When data changes in the app, any necessary
        updates to the DOM which it controls happen instantly and automatically.
        There is *no* need to do direct DOM manipulation here. </p>
        <pre>
          <code class="js">
var app = new Vue({
  el: '#app1',
  data: {
    message: 'Hello World!'
  }
})

app.message = 'Here is an updated message.'
          </code>
          <code class="html">
&lt;div id="app1"&gt;
{{ message }}
&lt;/div&gt;

          </code>
        </pre>


        <div id="app1">
          <h3>Live Example</h3>
          {{ message }}
        </div>
      </div>
    </section>

    <section>
      <div class="example">
        <h2>Counter App</h2>
        <p> This example shows how a Vue instance's internal state can be
        updated in response to various events. Because of Vue's reactive nature,
        as soon as any internal data is updated, any elements that depend on
        that data update automatically - handling events becomes much simpler
        </p>
        <p> In addition to data, a Vue instance can have methods - these are
        just functions attached to the object. Any property in the objects' data
          can be accessed with <code>this</code> + the property name </p>
        <p>Elements inside a Vue template can have event handlers defined on
        them as attributes using hte <code>v-on</code> directive. Ex:
        <code>&lt;button v-on:click="someMethod"&gt;</code> </p>
        <p>This can be abbreviated as <code>@click="someMethod"</code> for many
        common events.</p>

        <pre>
          <code class="js">
var counter = new Vue({
  el: '#app2',
  data: {
    count: 0
  },
  methods: {
    increment: function () {
      this.count ++
    },
    decrement: function () {
      this.count --
    }
  }
})
          </code>
          <code class="html">
&lt;div id="app2"&gt;
  &lt;h4&gt;The current count is: {{ count }}&lt;/h4&gt;
  &lt;button @click="increment"&gt;+&lt;/button&gt;
  &lt;button @click="decrement"&gt;-&lt;/button&gt;
&lt;/div&gt;
          </code>
        </pre>


        <h3>Live Example</h3>
        <div id="app2">
          <h4>The current count is: {{ count }}</h4>
          <button @click="increment">+</button>
          <button @click="decrement">-</button>

        </div>
      </div>
    </section>

    <section>
      <div class="example">
        <h2>User Input & Computed Properties</h2>
        <p>In addition to methods, Vue instances support computed properties. These
          properties are automatically derived from some other source (often something
          in the instance's state), and any arbitrary transformation can be applied.
          As soon as the source data changes, the computed property changes as well.</p>
        <p>The template for this instance contains a special directive, <code>v-model</code>, which
          is defined on an <code>&lt;input&gt;</code> element. This means that the value of the input element
          is tied to the relevant property of this instance (in this case, <code>message</code>).
          v-model and related tools make handling user input very easy in Vue.</p>

        <pre>
          <code class="js">
var reverser = new Vue({
  el: '#app3',
  data: {
    message: ''
  },
  computed: {
    reversedMessage: function () {
      return this.message.split('').reverse().join('')
    }
  }
})
          </code>
          <code class="html">
&lt;div id="app3"&gt;
  &lt;h4>Reverse-o-matic!&lt;/h4&gt;
  &lt;input v-model="message" /&gt;
  &lt;p&gt;Type a message above and see it reversed here:&lt;/p&gt;
  &lt;p&gt;{{ reversedMessage }}&lt;/p&gt;
&lt;/div&gt;
          </code>
        </pre>


        <h3>Live Example</h3>
        <div id="app3">
          <h4>Reverse-o-matic!</h4>
          <input v-model="message" />
          <p>Type a message above and see it reversed here:</p>
          <p>{{ reversedMessage }}</p>
        </div>
      </div>
    </section>
    <h1>Real-world Examples</h1>
    <hr/>
    <section>
      <div>
        <br/>
        <ul>
          <li>
            <a href="https://www.getty.edu/publications/ancientlamps/catalogue/"> Ancient Lamps Catalogue Grid </a> and <a href="https://github.com/gettypubs/ancientlamps/blob/master/source/assets/javascripts/catalogue.js">Source Code</a>
          </li>
          <li>
            <a href="https://github.com/gettypubs/artistryinbronze/blob/master/themes/quire-base-theme/source/js/search.js">
              Client-side Search using Lunr.js and Vue
            </a> from Artistry in Bronze publication (forthcoming).
          </li>
          <li>
            Single-Page Application using Vue, Vue-router, and Vuex: <a href="http://scores-ui.netlify.com/">Scores Prototype (WIP)</a>
          </li>
        </ul>
      </div>
    </section>
  </body>
  <script type="text/javascript" src="./app.js"></script>
</html>
